.dissonance-operator {
    position: relative;
    display: block;
    width: calc(50% - 20px);
}

.dissonance-panel {
    width: 100%;
    height: calc(100% - 55px);
    padding-left: 0px;
    padding-top: 45px;
}

.dissonance-info {
    height: 100px;
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 20px;
}

.dissonance-info .title {
    margin-right: 10px;
    font-weight: bold;
}

.dissonance-charts-container {
    width: 100%;
    height: calc(100% - 10px);
    position: relative;
    margin-left: 40px;
}

.dissonance-charts-container .chart {
    height: 100%;
}

.dissonance-variance-chart.horizontal {
    position: relative;
    z-index: 1;
}

.dissonance-variance-chart.vertical {
    transform: rotate(270deg);
    display: block;
    position: absolute;
}

.dissonance-heatmap {
    position: relative;
    margin-left: 40px;
    top: -9px;
    z-index: 0;
    height: calc(100% - 55px);
}

.dissonance-heatmap > svg {
    border-right: 1px solid;
    border-bottom: 1px solid;
}

/* Color palette. */

.color-palette {
    display: inline-block;
    position: absolute;
    top: 34px;
    right: 90px;
    width: 20px;
    vertical-align: bottom;
    background: #ccc;
    border: solid 1px #aaa;
}

.color-palette-cell {
    position: relative;
    display: block;
    /* Assumption of 10 color steps in scale. */
    height: 10%;
    width: 100%;
    background-color: #00cc33;;
}

.color-palette-label {
    position: absolute;
    width: 35px;
    right: -40px;
    font-size: 12px;
    text-align: left;
}

/* /Color palette. */

.dissonance-chart-x-axis-label {
    position: absolute;
    bottom: -25px;
    margin-left: calc(50% - 55px);
}

.dissonance-chart-y-axis-label {
    position: absolute;
    top: calc(50% - 25px);
    left: -70px;
    transform: rotate(270deg);
}