.pareto-scatterplot {
    margin: 0 0 0 0;
}

.chart {
    display: block;
    float: none;
    position: relative;
}

.filter-reduce-charts-container {
    display: inline-block;
    height: calc(100% - 25px - 10px);
    min-width: 20px;
    width: 7.9%;
    margin-top: 25px;
    position: relative;
}

.filter-reduce-labels-container {
    display: inline-block;
    width: 70px;
    margin-top: 105px;
    vertical-align: top;
    overflow: hidden;
}

.filter-reduce-row-label {
    display: block;
    font-size: 15px;
    text-align: right;
    width: 0px;
    height: 10px;
    margin-bottom: 59px;
    position: relative;
}

.filter-reduce-charts-container .title {
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: -25px;
    width: calc(100% - 35px);
    left: 25px;
}

.chart-placeholder {
    height: 65px;
    width: 7.9%;
    margin-bottom: 5px;
}

span.filter-reduce-row-label-text {
    display: block;
}

.histogram {
    height: 65px;
}

.parcoords-container {
    height:calc(65px - 8px);
    /* Approxiate workaround to level other charts with parallel coordintes. */
    padding-top: 8px;
}

.parcoords {
    position: absolute;
}

.filter-reduce-operator {
    height: 100%;
}

.filter-reduce-charts-panel {
    height: 100%;
    min-width: 98vw;
}

.filter-reduce-table-panel {
    height: 100%;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}

/* Lower canvas' z-index so that highlighting is visible on top. */
.filter-reduce-charts-container canvas {
    z-index: -1;
}

.filter-reduce-info {
    top: 55px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 0;
}

.filter-reduce-info .title {
    margin-right: 10px;
    font-weight: bold;
}

.pareto-scatterplot-hexheatmap {
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid;
    border-top: 1px solid;
}

.filter-reduce-table {
    margin-top: 15px;
    margin-left: 5px;
}

.filter-reduce-table .dataTables_wrapper .dataTables_filter {
    position: relative;
    float: left;
    z-index: 0;
    top: -1px;
    margin-left: 20px;
}

.filter-reduce-table .dataTables_wrapper .dataTables_filter input {
    width: 120px;
}

.filter-reduce-correlation-bar {
    position: absolute;
    bottom: 20px;
    left: 127px;
    height: calc(100% - 22px);
    width: 3px;
    border: 1px solid #000;
}

#filter-reduce-table-info-settings-icon {
    position: relative;
    top: 1px;
}

.objective-record-distribution-barchart {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    height: 19px;
}

.objective-record-distribution-bar {
    /* Note: We assume to have 10 bars for distribution chart. */
    width: calc(10% - 1px);
    margin-right: 1px;
    position: relative;
    bottom: -4px;
}