.model-detail-operator {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

#model-detail-parameter-pane {
    height: calc(100% - 10px);
}

.model-detail-pane {
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
}

.model-details-block {
    height: calc(100% - 10px);
    padding-top: 10px;
}

.model-detail-coranking-matrix-chart svg rect {
    stroke-width: 0;
}

.model-details-title {
    margin-bottom: 10px;
    font-size: 16px;
}

div.model-detail-scatterplot, div.model-detail-scatterplot-placeholder {
    margin-right: 0;
    float: right;
}


.model-detail-scatterplot-row {
    display: block;
    position: relative;
    top: -20px;
    width: calc(100% - 0px);
    padding-left: 0;
    padding-bottom: 0;
}

.model-detail-scatterplot-row:first-child {
    top: 0;
}

.reduced-padding {
    padding-top: 0;
}

.jqstooltip {
    border:none !important;
    box-sizing:content-box;
}

.model-detail-sparkline-container {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 11px;
    width: 100%;
    height:20px;
}

.model-detail-sparkline-container .attr-label {
    display: inline-block;
    position: relative;
    width: 50px;

}

.model-detail-sparkline {
    display: inline-block;
    width: 100px;
    margin-left: 10px;
}

.model-detail-table {
    padding-left: 10px;
    font-size: 14px;
}

#model-details-explainer-pane {
    height: calc(100% - 50px);
    width: calc(100% - 0px);
}

table.attributeTable {
    font-size: 12px;
}

table.attributeTable tr {
    padding: 5px;
    border: 1px solid #ddd;
    height: 32px;
}

table.attributeTable td {
    border: 1px solid #ddd;
}

table.attributeTable th {
    color: #fff;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #3d4a57;
    height: 20px;
}

table.attributeTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.model-detail-table table.dataTable thead .sorting,
.model-detail-table table.dataTable thead .sorting_asc,
.model-detail-table table.dataTable thead .sorting_desc {
    height: 65px;
    vertical-align: bottom;
    background-position: 100% 87%;
    min-width: 40px;
    position: relative;
}

.model-detail-chart-container .chart {
    height: 100%;
}

#model-detail-histogram-container {
    height: 45px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 35px;
    z-index: 1;
    margin-left: 10px;
}

.model-detail-table-histogram {
    height: 50px;
    position: absolute;
}

#shepard-diagram {
    width: 100%;
    height: calc(100% - 18px);
    padding-left: 10px;
    padding-bottom: 10px;
}

#coranking-matrix {
    width: 100%;
    height: calc(100% - 25px);
    padding-left: 10px;
    padding-bottom: 10px;
}

.hexagonal-heatmap,
.coranking-matrix {
    position: relative;
    width: 100%;
    height: 100%;
}

.model-detail-hexagonal-heatmap-chart {
    position: relative;
    width: calc(100% - 25px);
    height: calc(100% - 20px);
    margin-left: 25px;
    border-right: 1px solid;
    border-top: 1px solid;
}

.model-detail-coranking-matrix-chart {
    position: relative;
    width: calc(100% - 25px);
    height: calc(100% - 20px);
    margin-left: 25px;
    border-right: 1px solid;
    border-top: 1px solid;
}

.hexagons {
    fill: none;
    stroke: #000;
    stroke-width: 0;
    border: none;
}

.model-detail-hexagonal-heatmap-axes,
.model-detail-coranking-matrix-axes{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.model-detail-hexagonal-heatmap-chart .brush .extent,
.model-detail-coranking-matrix-chart .brush .extent{
    stroke: #fff;
    fill: #2b2b2b;
    fill-opacity: .15;
    shape-rendering: crispEdges;
}

span.embedding-rating {
    position: relative;
    top: 3px;
}

.model-detail-panel {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
}

#model-detail-content-pane {
    display: block;
    position: relative;
    height: calc(100% - 48px);
    width: 100%;
    margin-top: 20px;
    border-top: 5px #3d4a57 solid;
}

.model-detail-panel-info {
    position: relative;
    text-align: right;
    right: 0;
}

#model-detail-not-loaded-indicator {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    z-index: 11;
    left: 0;
    top: 0;
    background-color: #3d4a57;
    opacity: 0.99;
}

#model-detail-not-loaded-indicator span {
    position: relative;
    top: calc(50% - 14px);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}