.surrogate-model-operator {
    position: relative;
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
}

.surrogate-info {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
}

.surrogate-info .title {
    margin-right: 10px;
    font-weight: bold;
}

.surrogate-model-chart-container {
    height: 100%;
    min-width: 100%;
    overflow: hidden;
}

.surrogate-model-panel {
    padding-left: 0px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

/* Start: Decision tree CSS. Source: https://bl.ocks.org/ajschumacher/65eda1df2b0dd2cf616f. */

.surrogate-model-panel .node {
  cursor: pointer;
}

.surrogate-model-panel .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.surrogate-model-panel .node text {
  font: 10px sans-serif;
}

.surrogate-model-panel .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* End: Decision tree CSS. */

.surrogate-model-table-container {
    margin-top: 45px;
    width: 100%;
    height: 90%;
    min-width: 450px;
    padding-left: 10px;
    padding-right: 0;
    overflow: auto;
    position: relative;
    top: -30px;
}

.surrogate-model-table-container .dataTables_filter {
    margin-bottom: 0px;
    margin-right: 350px;
}

.surrogate-model-chart-container .metric-chooser {
    position: absolute;
    top: 0;
    right: 20px;
}

.surrogate-model-chart-container table.dataTable thead .sorting,
.surrogate-model-chart-container table.dataTable thead .sorting_asc,
.surrogate-model-chart-container table.dataTable thead .sorting_desc {
    height: 65px;
    vertical-align: bottom;
    background-position: 100% 87%;
    min-width: 40px;
    position: relative;
}

.surrogate-model-chart-container .chart {
    height: 100%;
}

#surrogate-model-histogram-container {
    height: 45px;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    margin-left: 0;
    margin-top: 10px;
}

.surrogate-model-table-histogram {
    height: 50px;
    position: absolute;
}
