.surrogate-model-operator {
    position: relative;
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
}

.surrogate-info {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
}

.surrogate-info .title {
    margin-right: 10px;
    font-weight: bold;
}

.surrogate-model-chart-container {
    height: calc(100% - 200px);
    min-width: 100%;
    position: relative;
    overflow: hidden;
}

.surrogate-model-panel {
    padding-left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

/* Start: Decision tree CSS. Source: https://bl.ocks.org/ajschumacher/65eda1df2b0dd2cf616f. */

.surrogate-model-panel .node {
  cursor: pointer;
}

.surrogate-model-panel .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.surrogate-model-panel .node text {
  font: 10px sans-serif;
}

.surrogate-model-panel .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* End: Decision tree CSS. */

.surrogate-model-table-container {
    margin-top: 60px;
    height: 100%;
    max-width: 805px;
    padding-left: 10px;
    padding-right: 0;
    overflow: auto;
    position: relative;
    top: -30px;
}

.surrogate-model-table-container .dataTables_filter {
    margin-bottom: 0;
    margin-right: 350px;
}

.surrogate-model-generator-operator .dataTables_filter {
    margin-right: 20px;
}

.surrogate-model-generator-operator .dataTables_length {
    margin-left: 250px;
}

.surrogate-model-chart-container .metric-chooser {
    position: absolute;
    top: 0;
    right: 20px;
}

.surrogate-model-chart-container table.dataTable thead .sorting,
.surrogate-model-chart-container table.dataTable thead .sorting_asc,
.surrogate-model-chart-container table.dataTable thead .sorting_desc {
    height: 65px;
    vertical-align: bottom;
    background-position: 100% 87%;
    min-width: 40px;
    position: relative;
}

.surrogate-model-chart-container .chart {
    height: 100%;
}

#surrogate-model-histogram-container {
    height: 45px;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    margin-left: 0;
    margin-top: 10px;
}

.surrogate-model-table-histogram {
    height: 50px;
    position: absolute;
}


.surrogate-model-viewer-vis-panel {
    width: 100%;
    height: 100%;
    position: relative;
}

.surrogate-model-viewer-models-suggestions-panel {
    width: 100%;
    height: 50%;
    position: relative;
}

.surrogate-model-viewer-models-saved-panel {
    width: 100%;
    height: 50%;
    position: relative;
}

.surrogate-model-generator-panel {
    width: 100%;
    height: 100%;
    position: relative;
}

.surrogate-model-generator-panel-label {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 16px;
    color: #3d4a57;
}

#surrogate-model-generator-panel-label-rules {
    top: 40px;
    left: 20px;
}

#surrogate-settings-target-objective-select {
    display: inline-block;
    font-weight: normal;
    width: 116px;
    margin-left: 5px;
}

.surrogate-model-options-container {
    position: relative;
    width: 100%;
    margin-top: 50px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.surrogate-model-options-container hr {
    margin-top: 15px;
    margin-bottom: 0;
}

.surrogate-model-generator-option {
    position: relative;
    margin-bottom: 10px;
}

#surrogate-model-generator-panel-label-generation-options {
    top: 0;
    left: 20px;
}

.surrogate-model-generator-option-label {
    display: inline-block;
    font-style: italic;
    vertical-align: top;
}

.surrogate-model-options-container ol {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 5px;
}

.surrogate-model-options-container input.numberInput {
    width: 50px;
    margin-left: 5px;
}

.surrogate-model-generator-option-element {
    display: inline-block;
}

/* Start style for sortable lists. */

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

/* End style for sortable lists. */