.surrogate-model-viewer-vis-panel {
    background-color: red;
    width: 100%;
    height: 100%;
}

.surrogate-model-viewer-models-suggestions-panel {
    background-color: blue;
    width: 100%;
    height: 50%;
}

.surrogate-model-viewer-models-saved-panel {
    background-color: yellow;
    width: 100%;
    height: 50%;
}