.surrogate-model-operator {
    position: relative;
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
}

.surrogate-info {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
}

.surrogate-info .title {
    margin-right: 10px;
    font-weight: bold;
}

.surrogate-model-chart-container {
    height: 100%;
    min-width: 100%;
    overflow: hidden;
}

.surrogate-model-panel {
    padding-left: 0px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

/* Start: Decision tree CSS. Source: https://bl.ocks.org/ajschumacher/65eda1df2b0dd2cf616f. */

.surrogate-model-panel .node {
  cursor: pointer;
}

.surrogate-model-panel .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.surrogate-model-panel .node text {
  font: 10px sans-serif;
}

.surrogate-model-panel .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* End: Decision tree CSS. */

.surrogate-model-table-container {
    margin-top: 45px;
    width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}