.settings-panel {
    display: none;
    position: relative;
    text-align: center;
}

.settings-content {
    width: 100%;
    height: calc(100% - 50px);
    text-align: left;
}

.settings-update-button {
    background: #3d4a57;
    color: #fff;
}

datalist {
    display: block;
    margin-bottom: 5px;
}

datalist option {
    display: inline-block;
    font-size: 12px;
    width: 9px;
}

.setting-option {
    font-size: 14px;
    margin-bottom: 20px;
}

.setting-option span {
    font-size: 14px;
    font-style: italic;
    margin-right: 20px;
}

#surrogate-settings-tree-depth-label {
    position: relative;
    top: -15px;
}

#filter-reduce-settings-line-opacity-bin-fraction,
#filter-reduce-settings-line-opacity-log-scaling {
    position: relative;
    top: -15px;
}

#surrogate-settings-target-objective {
    position: relative;
}

.range-control {
    display: inline-block;
}

datalist#filter-reduce-tickmarks option {
    width: 33px;
}


.settings-section-header {
    margin-bottom: 30px;
    font-weight: bold;
}

#filter-reduce-bin-number,
#filter-reduce-settings-line-log-scale {
    position: relative;
    top: -15px;
}

.settings-subsection {
    margin-top: 20px;
}

#model-detail-settings-icon {
    margin-top: 0px;
    position: relative;
    top: 3px;
}