/**
 *
 * Contains rules relating to placement of basic structural elements (navbar, content container etc.)
 *
 */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: calc(100% - 50px);
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

div.header {
    background-color: #3d4a57;
}

a {
    text-decoration: none;
}

a.pure-menu-heading {
    color: #fff;
    font-weight: bold;
}

a.pure-menu-link {
    color: #fff;
    font-size: 16px;
}

li.pure-menu-item.pure-menu-selected a.pure-menu-link {
    color: #3d4a57;
    font-weight: bold;
}

.pure-menu-active > .pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover,
li.pure-menu-item.pure-menu-selected a.pure-menu-link:focus, li.pure-menu-item.pure-menu-selected a.pure-menu-link:hover {
    color: #3d4a57;
}

li.pure-menu-item.pure-menu-selected {
    background-color: #eee;
}

#icon-link {
    padding-top: 3px;
}

.navIconImage {
    position: relative;
    top: 4px;
    margin-right: 5px;
}

.stage {
    margin-top: 50px;
    height: 100%;
    opacity: 0;
}

.panel {
    padding-left: 10px;
}

.info-icon {
    margin-top: 3px;
}

.ui-dialog-titlebar {
    background: #3d4a57;
    color: #fff;
}

.custom-restricted-width{
    display:inline-block;
}

.dataset-selection-menu {
    float: right;
    color: #fff;
}

ul.pure-menu-children li {
    background-color: #3d4a57;
}

#datasetLink, #drkernelLink {
    font-weight: bold;
}

#datasetLink {
    text-align: right;
}

#drkernelLink {
    width: 60px;
}

#load-dataset-link {
    position: relative;
    top: 2px;
    margin-right: 10px;
}

.panel-info {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    z-index: 10;
}

.panel-info .title {
    margin-right: 10px;
    font-weight: bold;
    color: #3d4a57;
}

#hovermode-info {
    position: absolute;
    width: 310px;
    height: 20px;
    right: 28px;
    padding: 8px;
    top: 95px;
    background-color: #3d4a57;
    color: #fff;
    display: none;
    text-align: center;
    border-radius: 5px;
}

svg rect {
  stroke-width: 0.2;
  stroke: grey;
}

#mental-model-stage {
    display: none;
    width: 100%;
}

#exploration-stage {
    display: block;
}