/**
 *
 * Contains rules relating to placement of basic structural elements (navbar, content container etc.)
 *
 */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

div.header {
    background-color: #3d4a57;
}

a {
    text-decoration: none;
}

a.pure-menu-heading {
    color: #fff;
    font-weight: bold;
}

a.pure-menu-link {
    color: #fff;
    font-size: 16px;
}

li.pure-menu-item.pure-menu-selected a.pure-menu-link {
    color: #3d4a57;
    font-weight: bold;
}

.pure-menu-active > .pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover,
li.pure-menu-item.pure-menu-selected a.pure-menu-link:focus, li.pure-menu-item.pure-menu-selected a.pure-menu-link:hover {
    color: #3d4a57;
}

li.pure-menu-item.pure-menu-selected {
    background-color: #eee;
}

#icon-link {
    padding-top: 3px;
}

.navIconImage {
    position: relative;
    top: 4px;
    margin-right: 5px;
}

.stage {
    margin-top: 0;
    height: 100%;
    opacity: 0;
}

.panel {
    padding-left: 10px;
}

.info-icon {
    margin-top: 3px;
}

.ui-dialog .ui-dialog-titlebar {
    background: #3d4a57;
    color: #fff;
    border-radius: 1px;
    font-size: 15px;
    padding: 0 10px 10px 10px;
}

.ui-widget.ui-widget-content {
    margin: 0;
    padding: 0;
}

.ui-dialog .ui-dialog-content {
    padding-bottom: 0;
    padding-right: 5px;
}

.custom-restricted-width{
    display:inline-block;
}

.dataset-selection-menu {
    float: right;
    color: #fff;
}

ul.pure-menu-children li {
    background-color: #3d4a57;
}

ul.pure-menu-children li:hover {
    z-index: 12;
}

#datasetLink, #drkernelLink {
    font-weight: bold;
}

#datasetLink {
    text-align: right;
}

#drkernelLink {
    width: 60px;
}

#load-dataset-link {
    position: relative;
    top: 2px;
    margin-right: 10px;
}

.panel-info {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
}

.panel-info .title {
    margin-right: 10px;
    font-weight: bold;
    color: #3d4a57;
}

#hovermode-info {
    position: absolute;
    width: 310px;
    height: 20px;
    right: 28px;
    padding: 8px;
    top: 95px;
    background-color: #3d4a57;
    color: #fff;
    display: none;
    text-align: center;
    border-radius: 5px;
}

svg rect {
  stroke-width: 0.2;
  stroke: grey;
}

#mental-model-stage {
    display: none;
    width: 100%;
}

#exploration-stage {
    display: block;
    position: relative;
    top: 36px;
    height: calc(100% - 36px);
}

/* Start toggle - https://www.htmllion.com/css3-toggle-switch-button.html */

.switch {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 65px;
	height: 25px;
    top: -6px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	/*box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	/*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);*/
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	/*text-shadow: 0 1px rgba(255, 255, 255, 0.5);*/
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	/*text-shadow: 0 1px rgba(0, 0, 0, 0.2);*/
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #3d4a57;
	/*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);*/
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 0px;
	left: 4px;
	width: 28px;
	height: 28px;
    background: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
	/*box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);*/
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
    background: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
	/*box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);*/
}
.switch-input:checked ~ .switch-handle {
	left: 42px;
	/*box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);*/
}

/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

/* End toggle - https://www.htmllion.com/css3-toggle-switch-button.html*/

.introjs-tooltip {
    min-width: 300px;
}

.model-detail-flipk {
  overflow: hidden;
}

.model-detail-flip {
    position: absolute;
    top: calc(50% - 50px);
    width: 30px;
    height: 100px;
    border-bottom: 0;
    background-color: #3d4a57;
    z-index: 10;
}

#model-detail-flip-todetail {
    right: 0;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
}

#model-detail-flip-toglobal {
    left: 0;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}

#model-detail-flip-todetail-arrow {
    position: relative;
    top: 40px;
    left: 8px;
}

#model-detail-flip-toglobal-arrow {
    position: relative;
    top: 40px;
    right: -4px;
}