/* See https://github.com/nathancahill/Split.js#css. */

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}
.content {
    border: 1px solid #C0C0C0;
    box-shadow: inset 0 1px 2px #e4e4e4;
    background-color: #fff;
}
.gutter {
    background-color: #3d4a57;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('../lib/images/vertical.png');
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    background-image: url('../lib/images/horizontal.png');
    cursor: ns-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

/* Container for split divs in lower half. */
.split-bottom-container {
    height: calc(100% - 54px);
}

.gutter.gutter-vertical {
    height: 9px;
}

.gutter.gutter-horizontal {
    width: 9px;
}


.split-left-container {
    position: relative;
    height: 100%;
}

.split-right-container {
    position: relative;

}