<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Load externally defined .css files. -->
    <link rel="stylesheet" href="./static/lib/pure-1.0.0/pure-min.css">
    <link rel="stylesheet" href="./static/lib/dc.js/dc.css">
    <link rel="stylesheet" href="./static/lib/jquery/jquery-ui-1.12.1.css">
    <link rel="stylesheet" href="./static/lib/ion_rangeslider/css/normalize.css"/>
    <link rel="stylesheet" href="./static/lib/ion_rangeslider/css/ion.rangeSlider.css"/>
    <link rel="stylesheet" href="./static/lib/ion_rangeslider/css/ion.rangeSlider.skinFlat.css"/>
    <link rel="stylesheet" href="./static/lib/lcSwitch/lc_switch.css">
    <link rel="stylesheet" href="./static/lib/parcoords/d3.parcoords.css">
    <link rel="stylesheet" href="./static/lib/jquery/jquery.datatables/jquery.dataTables.min.css">
    <link rel="stylesheet" href="./static/lib/star-rating/star-rating-svg.css">
    <link rel="stylesheet" href="./static/lib/intro.js/introjs.css">

    <!-- Load custom .css files. -->
    <link rel="stylesheet" href="./static/css/dropdown.css">
    <link rel="stylesheet" href="./static/css/skeleton.css">
    <link rel="stylesheet" href="./static/css/split-panes.css">
    <link rel="stylesheet" href="./static/css/operators/filter-reduce.css">
    <link rel="stylesheet" href="./static/css/operators/surrogate-models.css">
    <link rel="stylesheet" href="./static/css/operators/dissonance.css">
    <link rel="stylesheet" href="./static/css/operators/explainer.css">
    <link rel="stylesheet" href="./static/css/operators/model-detail.css">
    <link rel="stylesheet" href="./static/css/settings.css">
    <link rel="stylesheet" href="./static/css/splashscreen.css">
    <link rel="stylesheet" href="./static/css/introjs-modifications.css">

    <!-- Load icon. -->
    <link rel="icon" type="image/png" href="./static/img/icon.png">

    <!-- Page title. -->
    <title>TALE {{version}}</title>
</head>

<body>
<!------------------------------------------------------>
<!-- Base HTML template. Will be initialized with JS. -->
<!------------------------------------------------------>

<!-- Splashscreen only visible while loading/processing dataset. -->
<div class="splashscreen" id="splashscreen">
    <div class="verticallyCentered">
        <!-- From http://github.danielcardoso.net/load-awesome/animations/ball-scale-ripple-multiple.html. -->
        <!--<div class="la-ball-scale-ripple-multiple la-3x">-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
        <!--</div>-->

        <!-- From https://codepen.io/aaroniker/pen/MzoXaZ. -->
        <!-- Google Chrome -->
        <div class="infinityChrome">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <!-- Safari and others -->
        <div class="infinity">
            <div>
                <span></span>
            </div>
            <div>
                <span></span>
            </div>
            <div>
                <span></span>
            </div>
        </div>

        <!-- Stuff -->
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: none;">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                    <feBlend in="SourceGraphic" in2="goo" />
                </filter>
            </defs>
        </svg>

        <div id="logField">...</div>
    </div>
</div>

<div id="hovermode-info">test</div>

<div class="header">
    <div class="pure-menu pure-menu-horizontal custom-restricted-width">
        <a class="pure-menu-heading" id='icon-link' href="/">
            <img src="./static/img/icon_white.png" class="navIconImage" alt="TALE" width="20px">
            TALE {{version}}
        </a>

        <div class="dataset-selection-menu">
            Dataset
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="datasetLink" class="pure-menu-link">Wine</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item">
                            <a class="pure-menu-link pure-submenu-link" href="#"
                               onclick="$('#datasetLink').html('Happiness')"> Happiness</a>
                        </li>
                        <li class="pure-menu-item">
                            <a class="pure-menu-link pure-submenu-link" href="#"
                               onclick="$('#datasetLink').html('MNIST')"> MNIST</a>
                        </li>
                        <li class="pure-menu-item">
                            <a class="pure-menu-link pure-submenu-link" href="#"
                               onclick="$('#datasetLink').html('Swiss Roll')"> Swiss Roll</a>
                        </li>
                        <li class="pure-menu-item">
                            <a class="pure-menu-link pure-submenu-link" href="#"
                               onclick="$('#datasetLink').html('VIS Papers')"> VIS Papers</a>
                        </li>
                        <li class="pure-menu-item">
                            <a class="pure-menu-link pure-submenu-link" href="#"
                               onclick="$('#datasetLink').html('Wine')">Wine</a>
                        </li>
                    </ul>
                </li>
                with DR kernel
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="drkernelLink" class="pure-menu-link">t-SNE</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item">
                            <a class="pure-menu-link" href="#" onclick="$('#drkernelLink').html('UMAP')">UMAP</a>
                        </li>
                        <li class="pure-menu-item">
                            <a class="pure-menu-link" href="#" onclick="$('#drkernelLink').html('t-SNE')">t-SNE</a>
                        </li>
                        <li class="pure-menu-item">
                            <a class="pure-menu-link" href="#" onclick="$('#drkernelLink').html('SVD')">SVD</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <a id='load-dataset-link' href="#">
                <img src="./static/img/load.png" alt="Load dataset" class="navIconImage" width="23px">
            </a>
        </div>
    </div>
</div>

<!-- Stages. -->
<div class="stage" id="exploration-stage">
</div>

<!------------------------------------------------------>
<!-- Include JS files. -->
<!------------------------------------------------------>

<!-- jQuery. -->
<script src="./static/lib/jquery/jquery.min.js"></script>
<script src="./static/lib/jquery/jquery-ui-1.2.1.js"></script>
<!-- jQuery data tables. -->
<script src="./static/lib/jquery/jquery.datatables/jquery.dataTables.min.js"></script>
<script src="./static/lib/jquery/jquery.datatables/dataTables.fixedColumns.min.js"></script>
<!-- Split panes. -->
<script src="./static/lib/split.min.js"></script>
<!-- Range slider for (scented) widgets. -->
<script src="./static/lib/ion_rangeslider/js/ion.rangeSlider.min.js"></script>
<!-- Upload of large files. -->
<script src="./static/lib/resumable.js"></script>
<!-- Toggle buttons. -->
<script src="./static/lib/lcSwitch/lc_switch.min.js"></script>
<!-- d3.js, dc.js and crossfilter.js. -->
<script src="./static/lib/d3/d3.v3.js" charset="utf-8"></script>
<script src="./static/lib/d3/d3.tip.v0.6.3.js" charset="utf-8"></script>
<script src="./static/lib/d3/d3-hexbin.v0.2.min.js" charset="utf-8"></script>
<script src="./static/lib/d3/d3-random.v1.min.js" charset="utf-8"></script>
<script src="./static/lib/d3/d3-scale.v2.min.js" charset="utf-8"></script>
<!--<script src="./static/lib/d3/d3-axis.v1.min.js" charset="utf-8"></script>-->
<script src="./static/lib/crossfilter.js" charset="utf-8"></script>
<script src="./static/lib/dc.js/dc.js" charset="utf-8"></script>
<script src="./static/lib/dc.js/dc-canvas-scatterplot.js" charset="utf-8"></script>
<!-- d3.parcoords.js -->
<script src="./static/lib/parcoords/d3.parcoords.js" charset="utf-8"></script>
<!-- jquery's sparklines. -->
<script src="./static/lib/jquery/jquery.sparkline.min.js" charset="utf-8"></script>
<!-- For sortable lists. -->
<script src="./static/lib/jquery-sortable.js" charset="utf-8"></script>
<!-- For rating. -->
<script src="./static/lib/star-rating/jquery.star-rating-svg.js" charset="utf-8"></script>
<!-- For user guidance. -->
<script src="./static/lib/intro.js/intro.js" charset="utf-8"></script>

<!-- Initialize protoype UI. -->
<script type="module" src="./static/js/initializePrototypeUI.js"></script>

</body>

</html>